%p.section-text You are advised to pick replacement guardians in case one or more of your first choice guardian(s) are no longer alive or unwilling to act.
%hr

= form_for [@will, @guardian] do |f|

  = render "layouts/check_box", :f => f, check_box: :appoint_future_guardians, q_no: "05010"
  = render "layouts/check_box", :f => f, check_box: :appoint_current_guardians, q_no: "05020"
  = render "layouts/check_box", :f => f, check_box: :second_guardian, q_no: "05030"
  = render "layouts/check_box", :f => f, check_box: :third_guardian, q_no: "05040"
  = render "layouts/check_box", :f => f, check_box: :forth_guardian, q_no: "05050"
  = render "layouts/check_box", :f => f, check_box: :replacement_guardian, q_no: "05060"
  = render "layouts/check_box", :f => f, check_box: :replacement_second_guardian, q_no: "05070"
  = render "layouts/check_box", :f => f, check_box: :replacement_third_guardian, q_no: "05080"
  = render "layouts/check_box", :f => f, check_box: :replacement_forth_guardian, q_no: "05090"
  = f.submit 'Save', class: "button radius"
