= render 'header'
%h4 First Guardian

= form_for [@will, @guardian] do |f|

  = f.fields_for :first_guardian_general_detail do |builder|
    = render "general_details/general_details_form", :builder => builder, :nested_origin => @guardian.first_guardian_general_detail

  .field
    = question "05030"
    = f.check_box :second_guardian

  = f.submit 'Save', class: "button radius"