= render 'header'
%h4 Forth Guardian

= form_for [@will, @guardian] do |f|
  = f.fields_for :forth_guardian_general_detail do |builder|
    = render "general_details/general_details_form", :builder => builder, :nested_origin => @guardian.forth_guardian_general_detail


  = f.submit 'Save', class: "button radius"