= render 'header'
%h4 Second Replacement Guardian


= form_for [@will, @guardian] do |f|

  = f.fields_for :second_replacement_guardian_general_detail do |builder|
    = render "general_details/general_details_form", :builder => builder, :nested_origin => @guardian.second_replacement_guardian_general_detail
  .field
    = question "05080"
    = f.check_box :replacement_third_guardian

  = f.submit 'Save', class: "button radius"