= render 'header'
%h4 Third Replacement Guardian


= form_for [@will, @guardian] do |f|

  = f.fields_for :third_replacement_guardian_general_detail do |builder|
    = render "general_details/general_details_form", :builder => builder, :nested_origin => @guardian.third_replacement_guardian_general_detail
  .field
    = question "05090"
    = f.check_box :replacement_forth_guardian

  = f.submit 'Save', class: "button radius"