%p
  %b= "#{@count+=1}. FINANCIAL LEGACIES"
%p= "#{@count}.1 I give #{'free of all taxes' if @testator.tax_responsibility}:"
- @cash_gifts.each_with_index do |c, i|
  %p
    - if c.shared_to == "no"
      = "£#{c.amount} to #{c.full_name} of #{c.full_address}"
      = c.certain_age == "no" ? "absolutely." : "to be paid only when the aforementioned individual reaches the age of #{c.certain_age}."
      - if c.if_dead == "allocated_to_their_children"
        Should the aforementioned individual predecease me this gift shall instead fall to their child(ren) in equal shares 
        = "to be paid only when they reach the age of #{c.certain_age_if_dead}."
    - else
      %p
        = "£#{c.amount} to each of my "
        = c.shared_to == "all_of_my_children" ? "children" : "grandchildren" 
        living at my death 
        - if c.certain_age == "no"
          absolutely.
        - else
          to be held on trust for each
          = c.shared_to == "all_of_my_children" ? "child until that child" : "grandchild until that grandchild" 
          = "reaches the age of #{c.certain_age}."
        Should any 
        = c.shared_to == "all_of_my_children" ? "child" : "grandchild"  
        predecease me this gift shall instead fall to their child(ren) in equal shares. 
        = "to be paid only when they reach the age of #{c.certain_age_if_dead}." unless c.certain_age_if_dead == "no"