- provide(:title, "New Will")
= form_for @will do |f|


  .field
    = f.label :title
    = f.text_field :title
  .field
    By Submiting this form, you hereby agree to the 
    = link_to 'terms and conditions', terms_and_conditions_path, target: '_blank'
  .actions.button-region
    = f.submit 'Submit', class: "button radius"
