- provide(:title, "New Will")
= form_for @will do |f|


  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.check_box :term
    = f.label :term, "I agree to the #{ link_to 'terms and conditions', terms_and_conditions_path, target: '_blank'}".html_safe
  .actions
    = f.submit 'Save', class: "button radius"
