- @count = 0

#page-one
  .page
    .intro
      %p 
        Last Will and Testament
        %br
        of
        %br
        = @testator_details.full_name

#page-two
  .page
    %b LAST WILL AND TESTAMENT
    %p= "THIS WILL is made by me, #{@testator_details.full_name} of #{@testator_details.full_address}, on this day of 2013."
    %p= "I, #{@testator_details.full_name} of #{@testator_details.full_address}, hereby revoke any previous wills and codicils and make this my last will, disposing of all my worldwide assets."
    - if @testator.mirror_will == "yes"
      %b MIRROR WILL
      %p Although this will is in similar terms to the will of my partner, there is no agreement between us not to revoke or change our wills. I am free to revoke or change my will at any time.
    = render(:partial => "definitions")
    = render(:partial => "funeral_wishes")
    = render(:partial => "domicile")
    = render(:partial => "expected_marriage") if @testator.planning_marrige
    = render(:partial => "executors")
    = render(:partial => "survivorship")
    - if @guardian
      = render(:partial => "guardians") if @guardian.appoint_future_guardians || @guardian.appoint_current_guardians
    = render(:partial => "specific_gifts") if @personal_gifts.any?
    = render(:partial => "properties") if @properties.any?
    = render(:partial => "financial_legacy") if @cash_gifts.any?
    = render(:partial => "charitable_donations") if @charitable_donations
    = render(:partial => "residuaries") if @residuaries.any?
    
    %b= "#{@count+=1}. SECTION 33 OF THE WILLS ACT 1837"
    %p Section 33 of the Wills Act 1837 does not apply to any gift in this will.

    %b= "#{@count+=1}. POWER FOR BENEFICIARIES TO DISCLAIM GIFTS"
    %p Any beneficiary of this will may disclaim any interest in my Estate in whole or in part.


    - if @admin || @executor.notary_express
      %b= "#{@count+=1}. ADDITIONAL POWERS FOR TRUSTEES"
      - @sub = 0
      - if  @executor.notary_express || @admin.expanded_powers
        %p= "#{@count}.#{@sub+=1} Any Professional Trustee is entitled to charge, and be paid, reasonable remuneration for any services that the Professional Trustee or his or her firm provides. "
        %p= "#{@count}.#{@sub+=1} The Trustees may make any kind of investment that they could make if they were absolutely entitled to the trust fund. The Trustees are under no obligation to diversify the trust fund."
        %p= "#{@count}.#{@sub+=1} The Trustees may carry on any trade anywhere in the world, either alone or with others."
        %p= "#{@count}.#{@sub+=1} Any of the Trustees may be paid for being a director, officer or employee of (or of a subsidiary of) any company whose shares or securities form part of the trust fund."
        %p= "#{@count}.#{@sub+=1} The Trustees may pay expenses (including taxes) out of income or capital of my Estate or of the trust fund."
        %p= "#{@count}.#{@sub+=1} The Trustees may give any indemnities that they consider appropriate to any person (including a retiring trustee)."
        %p= "#{@count}.#{@sub+=1} Where the Trustees may apply income for the benefit of a minor, they may do so by paying the income to the minor's parent or guardian on behalf of the minor, or to the minor if that minor has attained the age of 16. The Trustees are under no duty to inquire into the use of the income unless they have knowledge of circumstances which call for inquiry."
        %p= "#{@count}.#{@sub+=1} Where income or capital is payable to a beneficiary who does not have the mental capacity to appoint an attorney with an enduring general power, the Trustees may (subject to any court direction or legislative requirement) apply that income or capital for the benefit of that beneficiary."
      - if @executor.notary_express || @admin.borrow_powers
        %p= "#{@count}.#{@sub+=1} The Trustees may develop or improve trust property in any way."
        %p= "#{@count}.#{@sub+=1} The Trustees may borrow cash or other assets for any purpose (including to acquire assets)."
        %p= "#{@count}.#{@sub+=1} The Trustees may mortgage, charge, pledge or give any right of recourse against some or all of the Estate or the trust fund to secure any liability that they incur when acting as the Trustees."
        %p= "#{@count}.#{@sub+=1} The Trustees may: "
        %p (a) make loans to any beneficiary from the trust fund on any terms that they consider appropriate (including being interest free and unsecured);
        %p (b) guarantee, or charge trust fund assets as security for, any debt or other obligation of any beneficiary;
        %p (c) buy, improve or repair residential or commercial real property anywhere in the world for any beneficiary to occupy as a residence or place of business;
        %p (d) buy or repair personal property for any beneficiary to enjoy or use; and
        %p (e) allow any beneficiary to occupy, enjoy or use any trust fund assets on any terms that they consider appropriate.
      - if @executor.notary_express || @admin.appoint_admin_powers
        %p= "#{@count}.#{@sub+=1} The Trustees may, individually or jointly, authorise any person (including any one of themselves) to carry out any of their functions on any terms that they consider appropriate (including terms relating to the delegate's remuneration). "
        %p= "#{@count}.#{@sub+=1} The Trustees may appoint and pay a nominee to hold any trust fund assets on any terms that they consider appropriate. They may do whatever is necessary to ensure that the appointed nominee acquires legal title to the assets."
        %p= "#{@count}.#{@sub+=1} The Trustees may appoint and pay a custodian for any trust fund assets and related documents and records on any terms that they consider appropriate. However, the Trustees do not have to appoint a custodian for any bearer securities forming part of the Trust Fund."
        %p= "#{@count}.#{@sub+=1} The power of appointing Trustees is exercisable by the Trustees."
      - if @executor.notary_express || @admin.buy_sell_powers
        %p= "#{@count}.#{@sub+=1} The following may buy trust fund assets, sell assets to the Trustees or enter into other transactions with the Trustees, but only if at least one of the Trustees has no interest in the transaction (other than as one of the Trustees), and that Trustee consents to the transaction in writing:"
        %p (a) any of the Trustees other than a Professional Trustee:
        %p (i) in a personal capacity; or
        %p (ii) as trustee of another trust; or
        %p (iii) as a partner in a partnership; 
        %p (b) the spouse, civil partner or child of any of the Trustees; and
        %p (c) any company of which any of the Trustees is a director.
      - if @executor.notary_express || @admin.liability_powers
        %p= "#{@count}.#{@sub+=1} None of the Trustees, other than a Professional Trustee, is liable for any breach of trust unless it results from the Trustee in question:"
        %p (a) acting in a way that he or she knows to be contrary to the interests of the beneficiaries of this will; or 
        %p (b) being recklessly indifferent about whether an action is contrary to the beneficiaries' interests.
        %p= "#{@count}.#{@sub+=1} The Trustees do not have to interfere in the management or conduct of the business or distribution policy of any company whose shares or securities form part of the trust fund, unless they have actual notice of conduct of the company's directors that is contrary to the shareholders' interests."
        %p= "#{@count}.#{@sub+=1} The Trustees may invest in assets:"
        %p (a) with a predictable useful life of less than 50 years; or
        %p (b) that produce no, or virtually no, income."
        %p= "#{@count}.#{@sub+=1} The Trustees are under no duty to hold a balance between conflicting interests of any beneficiaries."
        %p= "#{@count}.#{@sub+=1} Section 11 of the Trusts of Land and Appointment of Trustees Act 1996 does not apply to the Trustees."
      - if @executor.notary_express || @admin.expanded_powers
        %p= "#{@count}.#{@sub+=1} The Trustees may do anything which is incidental or conducive to the exercise of their functions."

    - if @request.requests
      %b= "#{@count+=1}. PRECATORY WORDS"
      %p I make the following requests which are merely an expression of my desire to provide guidance on the use of the assets from my Estate and these words should be considered non-binding %p expressions of my recommendations and not intended to form any kind of trust or conditions precedent required for the fulfilment of any bequest under my will:
      %p= @request.specific

    %b= "#{@count+=1}. SIGNATURES"