%h1 Your Wills
= link_to("New Will", new_will_path, class:"button")
%table
  %tr
    %th Title
    %th User
    %th
    %th
    %th

  - @wills.each do |will|
    %tr
      %td= will.title
      %td= will.user_id
      %td= link_to 'Show', will
      %td= link_to 'Edit', edit_will_path(will)
      %td= link_to 'Destroy', will, :method => :delete, :data => { :confirm => 'Are you sure?' }