- if @will.complete
  = render 'summary_tables'
- else
  %h1 Will Summary
  %p Will not yet complete

  - if @will.residuary
    = link_to("Resume Will", new_will_request_path(@will))

  - elsif @will.residuary_details.any?
    = link_to("Resume Will", will_residuary_details_path(@will))

  - elsif @will.personal_gifts.any?
    = link_to("Resume Will", will_personal_gifts_path(@will))

  - elsif @will.properties.any?
    = link_to("Resume Will", will_properties_path(@will))

  - elsif @will.charitable_donations.any?
    = link_to("Resume Will", will_charitable_donations_path(@will))

  - elsif @will.cash_gifts.any?
    = link_to("Resume Will", will_cash_gifts_path(@will))

  - elsif @will.guardian
    = link_to("Resume Will", option_will_cash_gifts_path(@will))

  - elsif @will.administration
    = link_to("Resume Will", new_will_guardian_path(@will))

  - elsif @will.executor
    - if @will.executor.notary_express
      = link_to("Resume Will", new_will_guardian_path(@will))
    - else
      = link_to("Resume Will", new_will_administration_path(@will))

  - elsif @will.funeral
    = link_to("Resume Will", new_will_executor_path(@will))

  - elsif @will.partner_detail
    = link_to("Resume Will", new_will_funeral_path(@will)) 

  - elsif @will.testator_detail
    = link_to("Resume Will", edit_will_testator_detail_path(@will, @will.testator_detail)) 

  - else
    = link_to("Resume Will", new_will_testator_detail_path(@will)) 

