%h2.section-sub-heading You can make cash gifts to charities.
%hr
= form_for [@will, @charitable_donation] do |f|

  = render "layouts/radio_buttons", :f => f, radio_button: :popular_charity, q_no: "07020", option: {true: "Yes", false: "No"}, selected: 0
  %div{"data-condition" => ":checked", "data-false" => "hide", "data-require" => "#charitable_donation_popular_charity_true", "data-true" => "show"}
    = render "layouts/select_list", :f => f, select_list: :popular_charity_name, q_no: "07030", options: ["Arts Council England" , "British Heart Foundation" , "Cancer Research UK" , "Families Need Fathers" , "Macmillan" , "Royal Society for the Blind" , "Royal Society for the Prevention of Cruelty to Animals" , "The Salvation Army" , "Variety Club" , "Zoological Society of London"]

  %div{"data-condition" => ":checked", "data-false" => "show", "data-require" => "#charitable_donation_popular_charity_true", "data-true" => "hide"}
    = render "layouts/text_field", :f => f, text_field: :name, q_no: "00180", origin: @charitable_donation
    = render "layouts/text_field", :f => f, text_field: :registered_charity_number, q_no: "00190", origin: @charitable_donation
    = render "layouts/text_field", :f => f, text_field: :address_one, q_no: "00050", origin: @charitable_donation
    = render "layouts/text_field", :f => f, text_field: :address_two, q_no: "00060", origin: @charitable_donation
    = render "layouts/text_field", :f => f, text_field: :city, q_no: "00070", origin: @charitable_donation
    = render "layouts/text_field", :f => f, text_field: :county, q_no: "00080", origin: @charitable_donation
    = render "layouts/text_field", :f => f, text_field: :postcode, q_no: "00090", origin: @charitable_donation
    = render "layouts/text_field", :f => f, text_field: :country, q_no: "00100", origin: @charitable_donation
  
  = render "layouts/text_field", :f => f, text_field: :amount, q_no: "07040", origin: @charitable_donation
  = render "layouts/text_area", :f => f, text_area: :instruction, advice_text: "You may specify a non-binding purpose for the gift but it is generally advised to leave this box blank so that the charity can put your gift towards any use and ensure it does not take effect if the charity is unable to comply with your request.", q_no: "07050"
  = render "layouts/check_box", :f => f, check_box: :allow_alternate, q_no: "07070"
  = f.submit 'Add Another', class: "button radius"
  = f.submit 'Proceed', class: "button radius"

