%h2.section-sub-heading You can make cash gifts to charities.
%hr
= form_for [@will, @charitable_donation] do |f|

  .field
    = f.label :charity_id
    = f.number_field :charity_id
  = render "layouts/text_field", :f => f, text_field: :amount, q_no: "07040"
  = render "layouts/text_area", :f => f, text_area: :instruction, q_no: "07050"
  = render "layouts/check_box", :f => f, check_box: :allow_alternate, q_no: "07070"
  = f.submit 'Add Another', class: "button radius"
  = f.submit 'Proceed', class: "button radius"

