- provide(:title, "Charitable Donations")
= render 'header'
%table
  %thead
    %tr
      %th 
        %h5 Donation
      %th 
        %h5 Amount
  %tbody
    - @charitable_donations.each_with_index do |charitable_donation, i|
      %tr
        %td= link_to("Donation #{i}", edit_will_charitable_donation_path(@will, charitable_donation))
        %td= charitable_donation.amount

= link_to("Add Donation", new_will_charitable_donation_path, class: "button radius")
= link_to("Proceed", new_will_charity_permission_path, class: "button radius")
