- provide(:title, "Personal Gifts")

%h1 Personal Gifts
%p.section-text You can make specific gifts of personal items.
%hr


%table
  %thead
    %tr
      %th Personal Gift
      %th Description
  %tbody
    - @personal_gifts.each_with_index do |personal_gift, i|
      %tr
        %td= link_to("Personal Gift #{i+1}", edit_will_personal_gift_path(@will, personal_gift))
        %td= personal_gift.description

= link_to("Add Personal Gift", new_will_personal_gift_path)
= link_to("Proceed", new_will_residuary_detail_path)
