- provide(:title, "Personal Gifts")

%h1 Personal Gifts
%h4.subheader You can make specific gifts of personal items.
%hr


%table
  %thead
    %tr
      %th 
        %h5 Personal Gift
      %th 
        %h5 Description
  %tbody
    - @personal_gifts.each_with_index do |personal_gift, i|
      %tr
        %td= link_to("Personal Gift #{i+1}", edit_will_personal_gift_path(@will, personal_gift))
        %td= personal_gift.description

= link_to("Add Personal Gift", new_will_personal_gift_path, class: "button radius")
= link_to("Proceed", option_will_residuary_details_path, class: "button radius")
