%h2.section-sub-heading You can specify your funeral wishes and organ donation or leave these decisions to your family.
%hr
= form_for [@will, @funeral] do |f|

  = render "layouts/select_list", :f => f, select_list: :preference, q_no: "02010", options: ["I have no preference" , "I would like my body to be buried" , "I would like my body to be cremated"]
  = render "layouts/text_area", :f => f, text_area: :wishes, q_no: "02020"
  = render "layouts/select_list", :f => f, select_list: :donate_organs, q_no: "02030", options: ["No preference" , "I would not like to donate my organs" , "Yes, all of my organs" , "Yes, specific organs"]
  = render "layouts/text_area", :f => f, text_area: :specific_organs, q_no: "02040"
  = f.submit 'Save', class: "button radius"
