= render 'header'
%h4 Forth Executor

= form_for [@will, @executor] do |f|
  = f.fields_for :forth_executor_general_detail do |builder|
    = render "general_details/general_details_form", :builder => builder, :nested_origin => @executor.forth_executor_general_detail

  = f.submit 'Save', class: "button radius"