%h1 Third Executor
%p.section-text You should specify who you wish to administer your estate and carry out your wishes in your will. It s advisable to have more than one executor but less than four. You can have professional executors and Notary Express can act in this capacity.
%hr

= form_for [@will, @executor] do |f|
  = f.fields_for :third_executor_general_detail do |builder|
    = render "general_details/general_details_form", :builder => builder, :nested_origin => @executor.third_executor_general_detail
  .field
    = question "03050"
    = f.check_box :forth

  = f.submit 'Save', class: "button radius"