= render "layouts/text_field", :f => builder, text_field: :relationship, q_no: "00010", origin: nested_origin
= render "layouts/text_field", :f => builder, text_field: :first_name, q_no: "00020", origin: nested_origin
= render "layouts/text_field", :f => builder, text_field: :middle_name, q_no: "00030", origin: nested_origin
= render "layouts/text_field", :f => builder, text_field: :surname, q_no: "00040", origin: nested_origin
= render "layouts/text_field", :f => builder, text_field: :address_one, q_no: "00050", origin: nested_origin
= render "layouts/text_field", :f => builder, text_field: :address_two, q_no: "00060", origin: nested_origin
= render "layouts/text_field", :f => builder, text_field: :city, q_no: "00070", origin: nested_origin
= render "layouts/text_field", :f => builder, text_field: :county, q_no: "00080", origin: nested_origin
= render "layouts/text_field", :f => builder, text_field: :postcode, q_no: "00090", origin: nested_origin
= render "layouts/text_field", :f => builder, text_field: :country, q_no: "00100", origin: nested_origin