- provide(:title, "All Users")
%h1 All Users

%table
  %tr
    %th Name
    %th Email
    %th Password digest
    %th Remember token
    %th Admin
    %th
    %th
    %th

  - @users.each do |user|
    %tr
      %td= user.name
      %td= user.email
      %td= user.password_digest
      %td= user.remember_token
      %td= user.admin
      %td= link_to 'Show', user
      %td= link_to 'Edit', edit_user_path(user)
      %td= link_to 'Delete', user, :method => :delete, :data => { :confirm => 'Are you sure?' } unless user.admin?

%br

= link_to 'New User', new_user_path
