%p.section-text You can donate buildings or land that you own as a tenant in common. If you are not sure by what method you own property you can contact Notary Express to make enquiries on your behalf.
%hr
= form_for [@will, @property] do |f|

  = render "layouts/text_field", :f => f, text_field: :land_reg_number, q_no: "00110", origin: @property
  = render "layouts/text_field", :f => f, text_field: :address_one, origin: @property
  = render "layouts/text_field", :f => f, text_field: :address_two, origin: @property
  = render "layouts/text_field", :f => f, text_field: :city, origin: @property
  = render "layouts/text_field", :f => f, text_field: :county, origin: @property
  = render "layouts/text_field", :f => f, text_field: :postcode, origin: @property
  = render "layouts/text_field", :f => f, text_field: :country, origin: @property
  = render "layouts/radio_buttons", :f => f, radio_button: :sole_residence, q_no: "08020", option: {true: "Yes", false: "No"}, selected: 0
  = render "layouts/select_list", :f => f, select_list: :recipient_no, q_no: "08030", options: ["1", "2", "3", "4"]
  [THIS NEEDS TO HIDE WHEN ! SELECTED ]
  = render "layouts/radio_buttons", :f => f, radio_button: :joint_or_common, q_no: "08040", option: {tenants_in_common: "Tenants in common", joint_tennants: "Joint tenants"}, selected: 1
  = render "layouts/radio_buttons", :f => f, radio_button: :responsible_for_charges, q_no: "08050", option: {true: "Yes", false: "No"}, selected: 0
  = render "layouts/radio_buttons", :f => f, radio_button: :as_cash_if_sold, q_no: "08060", option: {true: "Yes", false: "No"}, selected: 0
  = render "layouts/radio_buttons", :f => f, radio_button: :held_in_trust, q_no: "08070", option: {true: "Yes", false: "No"}, selected: 0
  %div{"data-condition" => ":checked", "data-false" => "hide", "data-require" => "#property_held_in_trust_true", "data-true" => "show"}
    = render "layouts/select_list", :f => f, select_list: :life_beneficiary_no, q_no: "08080", options: ["1", "2", "3", "4"]
  .button-region
    = f.submit 'Save', class: "button radius"