%p.section-text You can donate buildings or land that you own as a tenant in common. If you are not sure by what method you own property you can contact Notary Express to make enquiries on your behalf.
%hr
= form_for [@will, @property] do |f|

  = render "layouts/text_field", :f => f, text_field: :land_reg_number, q_no: "00110", origin: @property
  = render "layouts/text_field", :f => f, text_field: :address_one, q_no: "00050", origin: @property
  = render "layouts/text_field", :f => f, text_field: :address_two, q_no: "00060", origin: @property
  = render "layouts/text_field", :f => f, text_field: :city, q_no: "00070", origin: @property
  = render "layouts/text_field", :f => f, text_field: :county, q_no: "00080", origin: @property
  = render "layouts/text_field", :f => f, text_field: :postcode, q_no: "00090", origin: @property
  = render "layouts/text_field", :f => f, text_field: :country, q_no: "00100", origin: @property
  = render "layouts/select_list", :f => f, select_list: :sole_residence, q_no: "08020", options: [['Yes', true], ['No', false]]
  = render "layouts/select_list", :f => f, select_list: :recipient_no, q_no: "08030", options: ["1", "2", "3", "4"]
  = render "layouts/select_list", :f => f, select_list: :recipient_no, q_no: "08040", options: ["Tenants in common", "Joint tenants "]
  = render "layouts/select_list", :f => f, select_list: :responsible_for_charges, q_no: "08050", options: [['Yes', true], ['No', false]]
  = render "layouts/select_list", :f => f, select_list: :as_cash_if_sold, q_no: "08060", options: [['Yes', true], ['No', false]]
  = render "layouts/select_list", :f => f, select_list: :held_in_trust, q_no: "08070", options: [['Yes', true], ['No', false]]
  = render "layouts/select_list", :f => f, select_list: :life_beneficiary_no, q_no: "08080", options: ["1", "2", "3", "4"]
  = f.submit 'Add Another', class: "button radius"
  = f.submit 'Proceed', class: "button radius"