= render 'header'
= form_for [@will, @property] do |f|
  %h3 First Beneficiary
  = f.fields_for :benificiary_general_details do |builder|
    = render "general_details/general_details_form", :builder => builder, :nested_origin => @property.benificiary_general_details
  - if @property.recipient_no > 1
    %h3 Second Beneficiary
    = f.fields_for :second_benificiary_general_details do |builder|
      = render "general_details/general_details_form", :builder => builder, :nested_origin => @property.second_benificiary_general_details
  - if @property.recipient_no > 2
    %h3 Third Beneficiary
    = f.fields_for :third_benificiary_general_details do |builder|
      = render "general_details/general_details_form", :builder => builder, :nested_origin => @property.third_benificiary_general_details
  - if @property.recipient_no > 3
    %h4 Forth Beneficiary
    = f.fields_for :forth_benificiary_general_details do |builder|
      = render "general_details/general_details_form", :builder => builder, :nested_origin => @property.forth_benificiary_general_details
  - if @property.held_in_trust  
    - if @property.life_beneficiary_no > 0
      %h3 Replacement
      = f.fields_for :replacement_benificiary_general_details do |builder|
        = render "general_details/general_details_form", :builder => builder, :nested_origin => @property.replacement_benificiary_general_details
    - if @property.life_beneficiary_no > 1
      %h3 2nd Replacement
      = f.fields_for :second_replacement_benificiary_general_details do |builder|
        = render "general_details/general_details_form", :builder => builder, :nested_origin => @property.replacement_benificiary_general_details
    - if @property.life_beneficiary_no > 2
      %h3 3rd Replacement
      = f.fields_for :third_replacement_benificiary_general_details do |builder|
        = render "general_details/general_details_form", :builder => builder, :nested_origin => @property.replacement_benificiary_general_details
    - if @property.life_beneficiary_no > 3
      %h3 4th Replacement
      = f.fields_for :forth_replacement_benificiary_general_details do |builder|
        = render "general_details/general_details_form", :builder => builder, :nested_origin => @property.replacement_benificiary_general_details
  = f.hidden_field :complete, value: true

  = f.hidden_field :count, value: @will.properties.count
  = link_to("Save and Continue", "javascript:void(0)", class: "button radius modal-continue-button")
  = link_to 'Proceed Without Saving', option_will_personal_gifts_path(@will), class: "button radius cancel-forward right"

  .modal-continue
    Do you wish to add another?
    .button-region
      = f.submit 'Add Another', class: "button radius"
      = f.submit 'Proceed', class: "button radius"
      = link_to 'Cancel', "javascript:void(0)", class: "button radius cancel-forward modal-cancel"