- provide(:title, "Cash Gifts")

%h1 Cash Gifts
%h4.subheader You can make specific gifts of money.
%hr


%table
  %thead
    %tr
      %th 
        %h5 Cash Gift
      %th 
        %h5 Amount
  %tbody
    - @cash_gifts.each_with_index do |cash_gift, i|
      %tr
        %td= link_to("Gift #{i}", edit_will_cash_gift_path(@will, cash_gift))
        %td= cash_gift.amount

= link_to("Add Cash Gift", new_will_cash_gift_path, class: "button radius")
= link_to("Proceed", option_will_charitable_donations_path(@will), class: "button radius")
