= form_for [@will, @request] do |f|
  = render 'layouts/error_messages', object: f.object
  = render "layouts/radio_buttons", :f => f, radio_button: :requests, q_no: "11010", option: {true: "Yes", false: "No"}, selected: 1
  %div{"data-condition" => ":checked", "data-false" => "hide", "data-require" => "#request_requests_true", "data-true" => "show"}
    = render "layouts/text_area", :f => f, text_area: :specific, q_no: "11020", label_text: "Request"
  .button-region
    = f.submit 'Save', class: "button radius"
