%h2.section-sub-heading Please enter your partner's personal details.
%hr
= form_for [@will, @partner_detail]  do |f|

  [generic Deets form]
  - unless @will.testator_detail.mirror_will == "No" || @will.testator_detail.mirror_will == "Not Applicable"
    = render "layouts/text_field", :f => f, text_field: :phone_no, q_no: "01140"
    = render "layouts/select_list", :f => f, select_list: :gender, q_no: "01150", options: ["Male", "Female"]
    = render "layouts/text_field", :f => f, text_field: :dob, q_no: "01160"
    = render "layouts/text_field", :f => f, text_field: :domicile_country, q_no: "01170"
    = f.submit 'Save', class: "button radius"
