= render "layouts/text_field", :f => builder, text_field: :name, origin: nested_origin
= render "layouts/text_field", :f => builder, text_field: :registered_charity_number, origin: nested_origin
= render "layouts/text_field", :f => builder, text_field: :address_one, origin: nested_origin
= render "layouts/text_field", :f => builder, text_field: :address_two, origin: nested_origin
= render "layouts/text_field", :f => builder, text_field: :city, origin: nested_origin
= render "layouts/text_field", :f => builder, text_field: :county, origin: nested_origin
= render "layouts/text_field", :f => builder, text_field: :postcode, origin: nested_origin
= render "layouts/text_field", :f => builder, text_field: :country, origin: nested_origin