= form_for @charity_detail do |f|
  - if @charity_detail.errors.any?
    #error_explanation
      %h2= "#{pluralize(@charity_detail.errors.count, "error")} prohibited this charity_detail from being saved:"
      %ul
        - @charity_detail.errors.full_messages.each do |msg|
          %li= msg

    = render "layouts/text_field", :f => builder, text_field: :name, q_no: "00180", origin: nested_origin
    = render "layouts/text_field", :f => builder, text_field: :registered_charity_number, q_no: "00190", origin: nested_origin
    = render "layouts/text_field", :f => builder, text_field: :address_one, q_no: "00050", origin: nested_origin
    = render "layouts/text_field", :f => builder, text_field: :address_two, q_no: "00060", origin: nested_origin
    = render "layouts/text_field", :f => builder, text_field: :city, q_no: "00070", origin: nested_origin
    = render "layouts/text_field", :f => builder, text_field: :county, q_no: "00080", origin: nested_origin
    = render "layouts/text_field", :f => builder, text_field: :postcode, q_no: "00090", origin: nested_origin
    = render "layouts/text_field", :f => builder, text_field: :country, q_no: "00100", origin: nested_origin

    = f.submit 'Save'
