%h1 Listing charity_details

%table
  %tr
    %th Will
    %th Name
    %th Registered charity number
    %th Address one
    %th Address two
    %th City
    %th County
    %th Country
    %th
    %th
    %th

  - @charity_details.each do |charity_detail|
    %tr
      %td= charity_detail.will
      %td= charity_detail.name
      %td= charity_detail.registered_charity_number
      %td= charity_detail.address_one
      %td= charity_detail.address_two
      %td= charity_detail.city
      %td= charity_detail.county
      %td= charity_detail.country
      %td= link_to 'Show', charity_detail
      %td= link_to 'Edit', edit_charity_detail_path(charity_detail)
      %td= link_to 'Destroy', charity_detail, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Charity detail', new_charity_detail_path
