%p#notice= notice

%p
  %b Will:
  = @charity_detail.will
%p
  %b Name:
  = @charity_detail.name
%p
  %b Registered charity number:
  = @charity_detail.registered_charity_number
%p
  %b Address one:
  = @charity_detail.address_one
%p
  %b Address two:
  = @charity_detail.address_two
%p
  %b City:
  = @charity_detail.city
%p
  %b County:
  = @charity_detail.county
%p
  %b Country:
  = @charity_detail.country

= link_to 'Edit', edit_charity_detail_path(@charity_detail)
\|
= link_to 'Back', charity_details_path
