%h1 Listing property_details

%table
  %tr
    %th Will
    %th Land reg number
    %th Address one
    %th Address two
    %th City
    %th County
    %th Country
    %th Postcode
    %th
    %th
    %th

  - @property_details.each do |property_detail|
    %tr
      %td= property_detail.will
      %td= property_detail.land_reg_number
      %td= property_detail.address_one
      %td= property_detail.address_two
      %td= property_detail.city
      %td= property_detail.county
      %td= property_detail.country
      %td= property_detail.postcode
      %td= link_to 'Show', property_detail
      %td= link_to 'Edit', edit_property_detail_path(property_detail)
      %td= link_to 'Destroy', property_detail, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Property detail', new_property_detail_path
