%h2.section-sub-heading Please Enter you Personal Details
%p.section-text The information you provide shall be stored for regulatory compliance purposes and to provide you with the best possible service but it will not be used for marketing purposes or disclosed to third parties without your consent unless pursuant to a legal obligation. 
%hr

= form_for [@will, @testator_detail]  do |f|

  .field
    = question "01010"

    = f.check_box :consent
    = f.label :consent

  [Generic Details Form - hidden subject "Testator"]
  = render "layouts/text_field", :f => f, text_field: :phone_no, q_no: "01020"
  = render "layouts/select_list", :f => f, select_list: :gender, q_no: "01030", options: ["Male", "Female"]
  = render "layouts/text_field", :f => f, text_field: :dob, q_no: "01040"
  = render "layouts/select_list", :f => f, select_list: :domicile_country, q_no: "01050", options: ["UK", "etc"]
  = render "layouts/select_list", :f => f, select_list: :children, q_no: "01060", options: ["Yes, my own", "Yes, including my partner's", "No"]
  = render "layouts/select_list", :f => f, select_list: :children_age, q_no: "01070", options: [['Yes', true], ['No', false]]
  = render "layouts/select_list", :f => f, select_list: :planning_marrige, q_no: "01080", options: [['Yes', true], ['No', false]]
  = render "layouts/select_list", :f => f, select_list: :effective_post_marrige, q_no: "01090", options: [['Yes', true], ['No', false]]
  = render "layouts/select_list", :f => f, select_list: :effective_post_death_sans_marrige, q_no: "01110", options: [['Yes', true], ['No', false]]
  = render "layouts/select_list", :f => f, select_list: :tax_responsibility, q_no: "01120", options: [['Yes', true], ['No', false]]
  = render "layouts/select_list", :f => f, select_list: :mirror_will, q_no: "01130", options: ["Yes", "No", "Not Applicable"]
  = f.submit 'Save', class: "button radius"
