%p.section-text The residuary is the remainder of your estate after all debts, expenses, taxes and specific gifts have been dealt with. It is often the main gift in your estate so you are advised to provide replacement beneficiaries in case your main beneficiaries are deceased or unable to receive the gift for any reason.
= form_for [@will, @residuary_detail] do |f|

  = f.fields_for :charity_residuary_general_detail do |builder|
    = render "charity_details/charity_details_form", :builder => builder, :nested_origin => @residuary_detail.charity_residuary_general_detail

  - if @will.residuary_details.count == 1
    = render "layouts/select_list", :f => f, select_list: :share, q_no: "10020", options: ["Equal shares", "Trustees to decide"] + (1..100).to_a.map {|i| "#{i.to_s}%"}
  - elsif @will.residuary_details.first.share != "Equal shares" && @will.residuary_details.first.share != "Trustees to decide"
    - @start = 100
    - @will.residuary_details.each { |x| @start -= x.share.gsub('%','').to_i if x.share.present? } 
    = render "layouts/select_list", :f => f, select_list: :share, q_no: "10020", options: [] + (1..@start).to_a.map {|i| "#{i.to_s}%"}
  - else 
    = render "layouts/select_list", :f => f, select_list: :share, q_no: "10020", options: ["Equal shares", "Trustees to decide"]

  = render "layouts/select_list", :f => f, select_list: :certain_age, q_no: "10030", options: ["no"] + (16..40).to_a.map {|i| i.to_s}
  = render "layouts/radio_buttons", :f => f, radio_button: :if_dead, q_no: "06050", option: {put_back_into_your_estate: "Put back into your estate", allocated_to_their_children: "Allocated to their child(ren)"}, selected: 0
  = render "layouts/select_list", :f => f, select_list: :if_dead_certain_age, q_no: "10050", options: ["no"] + (16..40).to_a.map {|i| i.to_s}
  
  = f.submit 'Add Another', class: "button radius"
  = f.submit 'Proceed', class: "button radius"


