%h1 Charity Residuary
%h4.subheader The residuary is the remainder of your estate after all debts, expenses, taxes and specific gifts have been dealt with. It is often the main gift in your estate so you are advised to provide replacement beneficiaries in case your main beneficiaries are deceased or unable to receive the gift for any reason.
%hr
= form_for [@will, @residuary_detail] do |f|

  = f.fields_for :charity_residuary_general_detail do |builder|
    = render "charity_details/charity_details_form", :builder => builder, :nested_origin => @residuary_detail.charity_residuary_general_detail

  - @option ||= ["Equal shares", "Trustees to decide"]
  - @start = 100
  - @residuary_detail.secondary ? @res = @will.residuary_details.where(secondary: true) : @res = @will.residuary_details.where(secondary: false)
  - @res.each { |x| @start -= x.share.gsub('%','').to_i if x.share.present? } 
  = render "layouts/select_list", :f => f, select_list: :share, q_no: "10020", options: @option + (1..@start).to_a.map {|i| "#{i.to_s}%"}

  = f.hidden_field :complete, value: true
  = f.submit 'Add Another', class: "button radius"
  - if @residuary_detail.secondary 
    = f.submit 'Submit', class: "button radius" 
  - else
    = f.submit 'Proceed', class: "button radius"


