%h1 Edit Residuary Detail

- if @residuary_detail.residuary_type == "Charity"
  = form_for [@will, @residuary_detail] do |f|

    = f.fields_for :charity_residuary_general_detail do |builder|
      = render "charity_details/charity_details_form", :builder => builder, :nested_origin => @residuary_detail.charity_residuary_general_detail

    - @start = 100 + @residuary_detail.share.gsub('%','').to_i
    - @residuary_detail.secondary ? @res = @will.residuary_details.where(secondary: true) : @res = @will.residuary_details.where(secondary: false)
    - @res.each { |x| @start -= x.share.gsub('%','').to_i if x.share.present? } 
    = render "layouts/select_list", :f => f, select_list: :share, q_no: "10020", options: ["Equal shares", "Trustees to decide"] + (1..@start).to_a.map {|i| "#{i.to_s}%"}

    = f.hidden_field :count, value: @will.residuary_details.count
    = f.hidden_field :complete, value: true
    = f.submit 'Add Another', class: "button radius"
    = f.submit 'Submit', class: "button radius"
- else
  = form_for [@will, @residuary_detail] do |f|

    - if @residuary_detail.residuary_type == "Individual"
      = f.fields_for :individual_residuary_general_detail do |builder|
        = render "general_details/general_details_form", :builder => builder, :nested_origin => @residuary_detail.individual_residuary_general_detail

    - @start = 100 + @residuary_detail.share.gsub('%','').to_i
    - @residuary_detail.secondary ? @res = @will.residuary_details.where(secondary: true) : @res = @will.residuary_details.where(secondary: false)
    - @res.each { |x| @start -= x.share.gsub('%','').to_i if x.share.present? } 
    = render "layouts/select_list", :f => f, select_list: :share, q_no: "10020", options: ["Equal shares", "Trustees to decide"] + (1..@start).to_a.map {|i| "#{i.to_s}%"}

    = render "layouts/select_list", :f => f, select_list: :certain_age, q_no: "10030", options: ["no"] + (16..40).to_a.map {|i| i.to_s}
    = render "layouts/radio_buttons", :f => f, radio_button: :if_dead, q_no: "10040", option: {put_back_into_your_estate: "Put back into your estate", allocated_to_their_children: "Allocated to their child(ren)"}, selected: 0
    = render "layouts/select_list", :f => f, select_list: :if_dead_certain_age, q_no: "10050", options: ["no"] + (16..40).to_a.map {|i| i.to_s}
    = f.hidden_field :count, value: @will.residuary_details.count
    = f.hidden_field :complete, value: true
    = f.submit 'Add Another', class: "button radius"
    = f.submit 'Submit', class: "button radius"

