%h1 Listing residuary_details

%table
  %tr
    %th Share
    %th Certain age
    %th If dead
    %th If dead certain age
    %th Type
    %th
    %th
    %th

  - @residuary_details.each do |residuary_detail|
    %tr
      %td= residuary_detail.share
      %td= residuary_detail.certain_age
      %td= residuary_detail.if_dead
      %td= residuary_detail.if_dead_certain_age
      %td= residuary_detail.type
      %td= link_to 'Show', residuary_detail
      %td= link_to 'Edit', edit_residuary_detail_path(residuary_detail)
      %td= link_to 'Destroy', residuary_detail, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Residuary detail', new_residuary_detail_path
