= render 'header'

= form_for [@will, @residuary_detail] do |f|

  - if @residuary_detail.residuary_type == "Individual"
    = f.fields_for :individual_residuary_general_detail do |builder|
      = render "general_details/general_details_form", :builder => builder, :nested_origin => @residuary_detail.individual_residuary_general_detail

  
  - if @will.residuary_details.any?
    - @will.residuary_details.each do |x|
      - if x.share == "Equal shares"
        - @option ||= ["Equal shares"]
      - elsif x.share == "Trustees to decide"
        - @option ||= ["Trustees to decide"]

  - @option ||= ["Equal shares", "Trustees to decide"]
  - @start = 100
  - @residuary_detail.secondary ? @res = @will.residuary_details.where(secondary: true) : @res = @will.residuary_details.where(secondary: false)
  - @res.each { |x| @start -= x.share.gsub('%','').to_i if x.share.present? } 
  = render "layouts/select_list", :f => f, select_list: :share, q_no: "10020", options: @option + (1..@start).to_a.map {|i| "#{i.to_s}%"}

  = render "layouts/select_list", :f => f, select_list: :certain_age, q_no: "10030", options: ["no"] + (16..40).to_a.map {|i| i.to_s}, label_text: "Certain Age"
  = render "layouts/radio_buttons", :f => f, radio_button: :if_dead, q_no: "10040", option: {put_back_into_your_estate: "Put back into your estate", allocated_to_their_children: "Allocated to their child(ren)"}, selected: 0
  %div{"data-condition" => ":checked", "data-false" => "show", "data-require" => "#residuary_detail_if_dead_put_back_into_your_estate", "data-true" => "hide"}
    = render "layouts/select_list", :f => f, select_list: :if_dead_certain_age, q_no: "10050", options: ["no"] + (16..40).to_a.map {|i| i.to_s}, label_text: "Certain Age"
  = f.hidden_field :count, value: @will.residuary_details.count
  = f.hidden_field :complete, value: true
  .button-region
    = link_to("Save and Continue", "javascript:void(0)", class: "button radius modal-continue-button")
  .modal-continue
    Do you wish to add another?
    .button-region
      = f.submit 'Add Another', class: "button radius"
      - if @residuary_detail.secondary 
        = f.submit 'Submit', class: "button radius" 
      - else
        = f.submit 'Proceed', class: "button radius"
      = link_to 'Cancel', "javascript:void(0)", class: "button radius cancel-forward modal-cancel"




