.row
  .small-12.column
    %dl
      %dt= question q_no
- option.each_with_index do |(k,v),i|
  - if selected == i
    = f.radio_button radio_button, k, checked: 'checked'
    = f.label "#{radio_button}_#{k.to_s.underscore}", v
  - else 
    = f.radio_button radio_button, k
    = f.label "#{radio_button}_#{k.to_s.underscore}", v
