.row
  .small-12.column
    %dl
      %dt= question q_no
.row.collapse
  .large-2.columns
    %span.prefix
      = f.label text_field
  .large-10.columns
    - if origin.errors[text_field] && origin.errors[text_field].join(",") != ""
      = f.text_field text_field, class: "error"
      %small.error= "#{text_field.to_s.titleize} #{origin.errors[text_field].join(",")}"
    - else
      = f.text_field text_field