!!! 5
%html{ :lang => "en"}
  %head
    %meta{ :charset => "utf-8" }

    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }

    %title= full_title(yield(:title)) 

    = stylesheet_link_tag "application"
    = javascript_include_tag "vendor/modernizr"
    = csrf_meta_tag

  %body{class: "#{yield(:bodyclass)}"}

    
    - if request.path == "/"
      %nav.top-bar{role:"navigation"}
        = render "layouts/top_bar"
      .row
        .large-12.columns
          - flash.each do |key, value|
            %div{:class => "alert-box #{key}"}= value
          = yield
    - else 
      %nav.top-bar{role:"navigation"}
        = render "layouts/top_bar"
      .row
        - if signed_in?
          .large-3.columns
            = render 'layouts/sidebar'
          .large-9.columns
            - flash.each do |key, value|
              %div{:class => "alert-box #{key}"}= value
            = yield
        - else
          .large-3.columns
            `
          .large-6.columns
            - flash.each do |key, value|
              %div{:class => "alert-box #{key}"}= value
            = yield
          .large-3.columns
            -

    = javascript_include_tag "application"
